<h1>Listing article_of_clothings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Clothing type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @article_of_clothings.each do |article_of_clothing| %>
  <tr>
    <td><%= article_of_clothing.name %></td>
    <td><%= article_of_clothing.clothing_type %></td>
    <td><%= link_to 'Show', article_of_clothing %></td>
    <td><%= link_to 'Edit', edit_article_of_clothing_path(article_of_clothing) %></td>
    <td><%= link_to 'Destroy', article_of_clothing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article of clothing', new_article_of_clothing_path %>
